# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python  
2. R  
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas  
2. NumPy  
3. Matplotlib  
4. Scikit-learn  
5. TensorFlow

| Data Science Tools         |
|----------------------------|
| Jupyter Notebook           |
| RStudio                    |
| Apache Zeppelin            |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [29]:
# code cell to multiply and add numbers
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [35]:
# code cell to convert minutes to hours
# This will convert 200 minutes to hours by diving by 60
hours = 200//60
min = 200%60

print(f"{hours} hours {min} minutes")

3 hours 20 minutes

**Objectives:**

- List popular languages for Data Science  
- Identify commonly used libraries for Data Science  
- Create markdown cells in Jupyter Notebook  
- Perform arithmetic operations using Python code  
- Create and format tables using Markdown

## Author

Maliha Bintay Zaman